.winner {
  color: magenta;
  }

.toggle-switch {
  position: relative;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none; /* prevent selection Safari */
  -moz-user-select: none;
  -ms-user-select: none; /* IE 10 and 11 */
  text-align: left;
  &-checkbox { /* equiv to .toggle-switch-checkbox {} */
    display: none;
  }
  &-label {
    display: block;
    /* The whole toggle switch looks like | REVERSED O IN ORDER | The whole thing moves when left-margin changes, and a different part overflows and is hidden */
    overflow: hidden;
    cursor: pointer;
    /* border: 0 solid #bbb; */
    border-radius: 20px;
    /* margin: 0; */
  }
  &-inner {
    display: block;
    width: 200%;
    margin-left: -100%; /* The lefthand part of toggle switch ("REVERSED") overflows so is hidden */
    transition: margin 0.3s ease-in 0s;
    &:before, /* before/after the other content of this element. These are the text labels on the toggle switch */
    &:after {
      display: block;
      float: left; /* to get the :after text right-aligned, we use text-align: right later */
      width: 50%;
      height: 34px;
      padding: 0;
      line-height: 34px;
      font-size: 14px;
      color: white;
      font-weight: bold;
      box-sizing: border-box; /* padding and border are included in element's total width and height instead of additional to */
    }
    &:before {
      content: "Reversed";
      text-transform: uppercase;
      padding-left: 10px;
      background-color: skyblue;
      color: #fff; /* white */
    }
  }
  &-disabled { /* I don't think this is ever used */
    background-color: #ddd;
    cursor: not-allowed;
    &:before {
      background-color: #ddd; /* grey */
      cursor: not-allowed;
    }
  }
  &-inner:after {
    content: "In order";
    text-transform: uppercase;
    padding-right: 10px;
    background-color: #79d2a6;
    color: #fff;
    text-align: right;
  }
  &-switch { /* the little white circle */
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute; /* relative to .toggle-switch-label */
    top: 0;
    bottom: 0;
    left: 0;
    /* right: 85px; */
    /* border: 0 solid #bbb; */
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; /* change property values smoothly */
  }
  &-checkbox:checked + &-label { /* + => select the first &-label element after &-checkbox:checked elements */
    .toggle-switch-inner { /* when the checkbox is selected */
      margin-left: 0; /* lefthand part of toggle switch is now visible, righthand part overflows and is hidden */
    }
    .toggle-switch-switch { /* when the checkbox is selected, move the white circle to the right */
      right: 0px;
      left: auto;
    }
  }
}
